services:
  db:
    image: postgres:16
    container_name: infra_db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: infra_backend
    environment:
      PGHOST: db
      PGUSER: app
      PGPASSWORD: app
      PGDATABASE: appdb
      PGPORT: 5432
      PORT: 3001
    ports:
      - "3001:3001"
    depends_on:
      - db
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: infra_frontend
    ports:
      - "5174:5174"
    depends_on:
      - backend

volumes:
  pgdata:
